<section class="current-inventory">
  <table>
    <tr>
      <td>ID #</td>
      <td>NAME</td>
      <td>DESCRIPTION</td>
      <td>QUANTITY</td>
      <td>PRICE</td>
      <td>CATEGORY</td>
      <td></td>
    </tr>
    <tr
      ng-repeat="(index, product) in currentCtrl.storeService.currentStore.current track by $index">
      <td>{{ product._id }}</td>
      <td>
        <span ng-show="!product.editMe">{{ product.name }}</span>
        <input type="text" ng-if="product.editMe" ng-model="currentCtrl.storeService.currentStore.current[index].newName">
      </td>
      <td>
        <span ng-show="!product.editMe">{{ product.desc }}</span>
        <input type="text" ng-if="product.editMe" ng-model="currentCtrl.storeService.currentStore.current[index].newDesc">
      </td>
      <td>
        <span ng-show="!product.editMe">{{ product.quantity }}</span>
        <input type="number" ng-if="product.editMe" ng-model="currentCtrl.storeService.currentStore.current[index].newQuantity">
      </td>
      <td>
        <span ng-show="!product.editMe">{{ product.price }}</span>
        <input type="number" ng-if="product.editMe" ng-model="currentCtrl.storeService.currentStore.current[index].newPrice">
      </td>
      <td>
        <span ng-show="!product.editMe">{{ product.category }}</span>
        <input type="text" ng-if="product.editMe" ng-model="currentCtrl.storeService.currentStore.current[index].newCategory">
      </td>
      <td>
        <span
        ng-show="!product.editMe" ng-click="product.editMe = true; product.newQuantity = product.quantity;
        product.newName = product.name;
        product.newPrice = product.price;
        product.newDesc = product.desc;
        product.newCategory = product.category">Edit</span>
        <span
        ng-show="product.editMe" ng-click="currentCtrl.editProduct(product)">Update</span>
      </td>
    </tr>
  </table>
</section>
