@import "../../scss/lib/theme/vars";

.main-nav {
    background: $brand-primary;

    img {
      width: 200px;
      margin: 12px;
      display: inline-block;
    }

    nav {
      float: right;
      margin: 39px 2.5% 0 0;
    }

    .profile {
      padding-right: 12px;
      margin-right: 8px;
      border-right: solid 1px black;
    }

    .cart {
      margin-right: 12px;
    }
}
