<section class="previous-orders">

  <h3>Previous Orders</h3>

  <div>
    <span class="orders-data-title">ORDERS #</span>
  </div>

  <div>
    <span class="orders-data-title">DATE</span>
  </div>

  <div>
    <span class="orders-data-title">SHIP TO</span>
  </div>

  <div>
    <span class="orders-data-title">COMPLETED</span>
  </div>

  <ul>
    <li
      ng-repeat="order in customerPreviousOrdersCtrl.arrayOfOrders">
      <span class="order-data">{{ order._id }}</span>
      <span class="order-data">{{ order.date | date:"MM/dd/yyyy" }}</span>
      <span class="order-data">{{ order.shippingName }}</span>
      <span class="order-data">{{ order.completed }}</span>
    </li>
  </ul>
</section>
