<li class="previous-orders">
  <div class="recent-previous-orders" ng-if="!customerPreviousOrdersCtrl.showEditPreviousOrders">

  <div>
    <span class="orders-data-title">ORDERS #</span>
    <span class="orders-data">{{ customerPreviousOrdersCtrl.customer. }} </span>
  </div>

  <div>
    <span class="orders-data-title">DATE</span>
    <span class="orders-data">{{  }} </span>
  </div>

  <div>
    <span class="orders-data-title">SHIP TO</span>
    <span class="orders-data">{{  }} </span>
  </div>

  <div>
    <span class="orders-data-title">ORDER TOTAL</span>
    <span class="orders-data">{{  }} </span>
  </div>

  <div>
    <span class="orders-data-title">STATUS</span>
    <span class="orders-data">{{  }} </span>
  </div>

  <h3>Previous Orders</h3>

  <!-- TODO: have the recent orders display here. -->

  <edit-customer
    ng-if="customerPreviousOrdersCtrl.showEditPreviousOrders"
    customer="customerPreviousOrdersCtrl.currentCustomer">
  </edit-customer>

  <button
    class="btn-small"
    ng-click="customerPreviousOrdersCtrl.deleteCustomerPreviousOrders()"
    ng-show="!customerPreviousOrdersCtrl.showEditCustomerPreviousOrders">delete</button>

  <button
    class="btn-small"
    ng-click="customerPreviousOrdersCtrl.showEditCustomerPreviousOrders = !customerPreviousOrdersCtrl.showEditCustomerPreviousOrders"
    ng-show="!customerPreviousOrdersCtrl.showEditCustomerPreviousOrders">edit</button>

  <div class="clearfix"></div>


</li>
