<li class="previous-orders"
  ng-repeat="customerService.currentCustomer.currentOrder">

  <div>
    <span class="orders-data-title">ORDERS #</span>
    <span class="orders-data">{{ }} </span>
  </div>

  <div>
    <span class="orders-data-title">DATE</span>
    <span class="orders-data">{{  }} </span>
  </div>

  <div>
    <span class="orders-data-title">SHIP TO</span>
    <span class="orders-data">{{  }} </span>
  </div>

  <div>
    <span class="orders-data-title">ORDER TOTAL</span>
    <span class="orders-data">{{  }} </span>
  </div>

  <div>
    <span class="orders-data-title">STATUS</span>
    <span class="orders-data">{{  }} </span>
  </div>

  <h3>Previous Orders</h3>

  <!-- TODO: have the recent orders display here. -->

  <button
    class="btn-small"
    ng-click="customerPreviousOrdersCtrl.deleteCustomerPreviousOrders()"
    ng-show="!customerPreviousOrdersCtrl.showEditCustomerPreviousOrders">delete</button>

  <button
    class="btn-small"
    ng-click="customerPreviousOrdersCtrl.showEditCustomerPreviousOrders = !customerPreviousOrdersCtrl.showEditCustomerPreviousOrders"
    ng-show="!customerPreviousOrdersCtrl.showEditCustomerPreviousOrders">edit</button>

  <div class="clearfix"></div>

</li>
