<section
  class="customer-login">
  <form
    ng-submit="customerLoginCtrl.login(customerLoginCtrl.customer)"
    novalidate>
    <div>
      <input
        type="text"
        placeholder="username"
        ng-model="customerLoginCtrl.customer.username"
        required>
    </div>

    <div>
      <input
        type="password" name="password"
        placeholder="password"
        ng-model="customerLoginCtrl.customer.password"
        required>
      </div>

      <button
        type="submit">
        sign in
      </button>
    </form>
</section>
