<li class="employee-record">

  <div class="current-employee-record" ng-if="!employeeRecordCtrl.showEditEmployeeRecord">
    <div>
      <span class="employee-data-title">name:</span>
      <span class="employee-data">{{ employeeRecordCtrl.employee.name }}</span>
    </div>

    <div>
      <span class="employee-data-title">username:</span>
      <span class="employee-data">{{ employeeRecordCtrl.employee.username }}</span>
    </div>

    <div>
      <span class="employee-data-title">email:</span>
      <span class="employee-data">{{ employeeRecordCtrl.employee.email }}</span>
    </div>

    <div>
      <span class="employee-data-title">is admin:</span>
      <span class="employee-data">{{ employeeRecordCtrl.employee.admin }}</span>
    </div>

    <div>
      <span class="employee-data-title">has shipping privileges:</span>
      <span class="employee-data">{{ employeeRecordCtrl.employee.admin }}</span>
    </div>

    <div>
      <span class="employee-data-title">has receiving privileges:</span>
      <span class="employee-data">{{ employeeRecordCtrl.employee.admin }}</span>
    </div>
  </div>

  <!-- TODO: BUILD OUT EDIT EMPLOYEE COMPONENT -->
  <edit-employee
    ng-if="employeeRecordCtrl.showEditEmployeeRecord"
    employee="employeeRecordCtrl.employee">
  </edit-employee>

  <button
    class="btn-small"
    ng-click="employeeRecordCtrl.deleteEmployeeRecord()"
    ng-show="!employeeRecordCtrl.showEditEmployeeRecord">delete</button>

  <button
    class="btn-small"
    ng-click="employeeRecordCtrl.showEditEmployeeRecord = !employeeRecordCtrl.showEditEmployeeRecord"
    ng-show="!employeeRecordCtrl.showEditEmployeeRecord">edit</button>

  <div class="clearfix"></div>

</li>
