.cart-products {
  input {
    margin-bottom: $gutter-std;
  }

  table {
    tr {
      border-bottom: 1px black solid;
    }

    tr:first-child {
      background: $brand-secondary;
    }
  }

  td {
    width: 20vw;
    text-align: center;
    padding: $gutter-sm;
  }
}
