<section class="cart-products">
  <ul>
    <li ng-repeat="(index, product) in cartProductCtrl.currentProducts track by $index">
      <div>
        <p>Name:
          <span>
            {{product.name}}
          </span>
          <span>
            {{product.price}}
          </span>
        </p>
        <p>Description:
          <span>
            {{product.desc}}
          </span>
          <span ng-if="product.quantity < 6">
            Only {{product.quantity}} left!
          </span>
        </p>
        <span>Quantity:</span>
        <input type="number" ng-model="cartProductCtrl.currentProducts[index].buyQuantity">
        <button ng-click="cartProductCtrl.addToCart(product)">Add to cart</button>
      </div>
    </li>
  </ul>
</section>
