@import '../../../scss/lib/theme/vars';
@import '../../../scss/lib/bootstrap/custom-bootstrap-vars';

.add-employee {

  .add-employee-form {

    .access {
      width: 80%;
      display: flex;
      flex-direction: row;
    }
  }
}
