@import '../../../scss/lib/theme/vars';
@import '../../../scss/lib/bootstrap/custom-bootstrap-vars';
.add-employee {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .add-employee-form {
    input, select, label {
      margin-top: .1vw;
      margin-bottom: .5vw;
    }
    .personal-info {
      input {
        width: 100%;
      }
    }

    .access {
      width: 100%;
      :nth-child(2) {
        text-align: center;
      }
      :nth-child(3) {
        text-align: right;
      }

      div {
        width: 33.333%;
        float: left;

        label {
          display: inline;
        }
        select {
          width: 30%;
        }
      }
    }

    button {
      width: 100%;
      margin-top: .5vw;
      margin-bottom: 1vw;
    }
  }
}
