<section class="add-employee">

  <form name="addEmployeeForm"
    class="add-employee-form"
    ng-submit="addEmployeeCtrl.addEmployeeRecord()">

    <fieldset class="personal-info">
      <input type="text"
        class="input-lg"
        name="name"
        placeholder="name"
        ng-model="addEmployeeCtrl.employee.name"
        required>

      <input type="text"
        class="input-lg"
        name="email"
        placeholder="email"
        ng-model="addEmployeeCtrl.employee.email"
        required>

      <input type="password"
        class="input-lg"
        name="password"
        placeholder="password"
        ng-model="addEmployeeCtrl.employee.password"
        required>

      <input type="password"
        class="input-lg"
        name="confirmpassword"
        placeholder="confirm password"
        ng-model="addEmployeeCtrl.verifyPassword"
        required>
    </fieldset>

    <fieldset class="priveliges">
      <label for="admin">admin?</label>
      <select type="text"
        class="input-lg"
        name="admin"
        ng-model="addEmployeeCtrl.employee.admin"
        ng-options="option.bool as option.selection for option in [{ selection: 'No', bool: false }, { selection: 'Yes', bool: true }]"
        required>
      </select>

      <label class="shipping-label" for="shipping">shipping?</label>
      <select class="input-lg"
        name="shipping"
        ng-model="addEmployeeCtrl.employee.shipping"
        ng-options="option.bool as option.selection for option in [{ selection: 'No', bool: false }, { selection: 'Yes', bool: true }]">
      </select>

      <label class="receiving-label" for="receiving">receiving?</label>
      <select class="input-lg"
        name="receiving"
        ng-model="addEmployeeCtrl.employee.receiving"
        ng-options="option.bool as option.selection for option in [{ selection: 'No', bool: false }, { selection: 'Yes', bool: true }]">
      </select>
    </fieldset>

    <!-- TODO: BUILD OUT REST OF FIELDS, WAY TO MAP TO STORE -->

    <button class="btn-std" type="submit">add new employee</button>
  </form>

  <div class="clearfix"></div>

</section>
