@import "../../../scss/lib/bootstrap/custom-bootstrap-vars";
@import "../../../scss/lib/theme/vars";

.customer-signup {
  form {
    align-items: center;
    background: $btn-default-color;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    input {
      width: 75%;
      margin-bottom: 1vw;
    }
    button {
      width: 25%;
    }
  }
}

// .customer-signup {
//   text-align: center;
//   .input-lg {
//     width: 50%;
//     display: inline-block;
//     margin: $gutter-sm / 2;
//   }
//   button {
//     display: inline-block;
//   }
// }
