<section
  class="customer-signup">
  <form
    ng-submit="customerSignupCtrl.signup(customerSignupCtrl.customer)"
    novalidate>
      <h3>Create an account</h3>
      <input
        class="input-lg"
        type="text"
        placeholder="name"
        ng-model="customerSignupCtrl.customer.name"
        required>

      <input
        class="input-lg"
        type="text"
        placeholder="username"
        ng-model="customerSignupCtrl.customer.username"
        required>
      <input
        class="input-lg"
        type="text"
        placeholder="address"
        ng-model="customerSignupCtrl.customer.address"
        required>
      <input
        class="input-lg"
        type="email"
        placeholder="email"
        ng-model="customerSignupCtrl.customer.email">

      <input
        class="input-lg"
        type="password"
        placeholder="password"
        ng-model="customerSignupCtrl.customer.password"
        required>
      <div class="clearfix"></div>
      <button
        type="submit">
        signup
      </button>
  </form>
</section>
