.outgoing-orders {
  table {
    tr {
      border-bottom: 1px black solid;
    }

    tr:first-child {
      background: $brand-secondary;
    }

    width: 100%;
  }

  td {
    width: 20vw;
    text-align: center;
    padding: $gutter-sm;
  }
}
