<section class="outgoing-orders">
  <table>
    <tr>
      <td>ID #</td>
      <td>SHIP TO</td>
      <td>DATE</td>
      <td>COMPLETED</td>
    </tr>
  </table>

  <table>
    <tr>
      <td
      ng-repeat="(index, order) in outgoingCtrl.storeService.currentStore.outgoing track by $index"></td>
      <td>{{ order._id }}</td>
      <td>{{ order.shippingName }}</td>
      <td>{{ order.date | date:"MM/dd/yyyy"}}</td>
      <td>{{ order.completed }}</td>
      </li>
    </tr>
  <table>
</section>
