<section class="outgoing-orders">

  <table>

    <tr>
      <td>ID #</td>
      <td>SHIP TO</td>
      <td>DATE</td>
      <td>COMPLETED</td>
    </tr>

    <tr ng-repeat="(index, order) in outgoingCtrl.storeService.currentStore.outgoing track by $index">
        <td>{{ order._id }}</td>
        <td>{{ order.shippingName }}</td>
        <td>{{ order.date | date:"MM/dd/yyyy"}}</td>
        <td><span ng-show="!order.completed">Pending</span><span ng-show="order.completed">Completed</span></td>
    </tr>

  </table>

</section>
