
<section class="customer-settings">
  <h4>Account settings</h4>
  <ul class="current-info">
    <li>
      <span><label>Name: </label> {{ customerSettingsCtrl.currentCustomer.name }}</span>
    </li>
    <li>
      <span><label>Username: </label>{{ customerSettingsCtrl.currentCustomer.username }}</span>
    </li>
    <li>
      <span><label>Address: </label>{{ customerSettingsCtrl.currentCustomer.address }}</span>
    </li>
    <li>
      <span><label>Email: </label>{{ customerSettingsCtrl.currentCustomer.email }}</span>
    </li>
  </ul>

  <form
    class="new-info"
    ng-submit="customerSettingsCtrl.updateCustomerInfo(customerSettingsCtrl.currentCustomer)">
    <input
      ng-model="customerSettingsCtrl.currentCustomer.name"
      type="text"
      class="input-lg"
      placeholder="Your name">

    <input
      ng-model="customerSettingsCtrl.currentCustomer.username"
      type="text"
      class="input-lg"
      placeholder="Your username">

    <input
      ng-model="customerSettingsCtrl.currentCustomer.address"
      type="text"
      class="input-lg"
      placeholder="Your address">

    <input
      ng-model="customerSettingsCtrl.currentCustomer.email"
      type="email"
      class="input-lg"
      placeholder="Your email">

    <input
      ng-model="customerSettingsCtrl.currentCustomer.password"
      type="password"
      class="input-lg"
      placeholder="New password">

    <button
      class="btn-success"
      type="submit">
        Confirm Changes
    </button>
    <button
      class="btn-danger"
      ng-click="customerSettingsCtrl.deleteCustomer(customerSettingsCtrl.currentCustomer._id)">
      Delete account
    </button>
  </form>
</section>
