<section class="customer-settings">

  <div class="current-info">
    <ul>
      <li>
        <span>Name: {{ customerSettingsCtrl.currentCustomer.name }}</span>
      </li>
      <li>
        <span>Username: {{ customerSettingsCtrl.currentCustomer.username }}</span>
      </li>
      <li>
        <span>Address: {{ customerSettingsCtrl.currentCustomer.email }}</span>
      </li>
      <li>
        <span>Email: {{ customerSettingsCtrl.currentCustomer.address }}</span>
      </li>
    </ul>
  </div>

  <form
    class="new-info"
    ng-submit="customerSettingsCtrl.updateCustomerInfo(customerSettingsCtrl.currentCustomer)">
    <fieldset>
      <div class="input-group">
        <input
          ng-model="customerSettingsCtrl.currentCustomer.name"
          type="text"
          class="input-default"
          placeholder="Your name">

        <input
          ng-model="customerSettingsCtrl.currentCustomer.username"
          type="text"
          class="input-default"
          placeholder="Your username">

        <input
          ng-model="customerSettingsCtrl.currentCustomer.address"
          type="text"
          class="input-default"
          placeholder="Your address">

        <input
          ng-model="customerSettingsCtrl.currentCustomer.email"
          type="email"
          class="input-default"
          placeholder="Your email">

      </div>

      <div class="input-group">
        <input
          type="password"
          class="input-default"
          placeholder="password">
      </div>
      <button
        type="submit">
          Confirm Changes
      </button>
      <!-- <button
        type="submit"
        ng-submit="customerSettingsCtrl.deleteCustomer(customerSettingsCtrl.currentCustomer._id)">
        delete account
      </button> -->
    </fieldset>
  </form>
</section>
