<section class="customer-settings">

  <div class="current-info">
    <ul>
      <li>
        <span>Name: {{ settingsCtrl.currentCustomer.name }}</span>
      </li>
      <li>
        <span>Address: {{ settingsCtrl.currentCustomer.email }}</span>
      </li>
      <li>
        <span>Email: {{ settingsCtrl.currentCustomer.address }}</span>
      </li>
    </ul>
  </div>

  <form class="new-info">
    <fieldset>
      <div class="input-group">
        <input
          ng-model="settingsCtrl.currentCustomer.name"
          type="text"
          class="input-default"
          placeholder="Your name">

        <input
          ng-model="settingsCtrl.currentCustomer.address"
          type="text"
          class="input-default"
          placeholder="Your address">

        <input
          ng-model="settingsCtrl.currentCustomer.email"
          type="text"
          class="input-default"
          placeholder="Your email">

      </div>

      <div class="input-group">
        <input
          type="password"
          class="input-default"
          placeholder="password">
      </div>
      <button
        class="btn btn-default"
        ng-submit="settingsCtrl.updateCustomerInfo()">
        Confirm Changes
      <button>
    </fieldset>
  </form>
</section>
