.inventory-to-store {
  margin-top: $gutter-sm;
  
  button {
    margin-top: 3vh;
    margin-left: 22.5vw;
  }
  input {
    margin-right: 2.5vw;
  }
  input:first-child {
    margin-left: 4.3vw;
  }
}
