@import "../../scss/lib/theme/vars";
@import "../../scss/lib/bootstrap/custom-bootstrap-vars";

.employee-dashboard {
  color: $btn-primary-color;
  background: $btn-default-color;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .store-selection, .employee-admin-container {
    @extend .employee-dashboard;
    label {
      color: $btn-primary-color;  
    }
  }
}
