@import "../../scss/lib/theme/vars";
@import "../../scss/lib/bootstrap/custom-bootstrap-vars";

.employee-dashboard {
  border-radius: 5px;
  width: 100%;
  color: $btn-primary-color;
  background: $btn-default-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3vw;

  :children {
    width: 80%;
  }

  label {
    display: inline-block;
    color: $btn-primary-color;
  }

  select {
    width: 40%;
  }
  .store-selection {
    text-align: center;
  }

  .search-container {
    text-align: center;

    .employee-search {
      width: 100%;
      margin: 0 auto;
      margin-top: 1vw;
    }
  }
}
