<section class="employee-dashboard">
    <h2>employee dashboard</h2>

    <!--TODO: BUILD OUT EMPLOYEE PROFILE COMPONENT-->
    <!-- <employee-profile></employee-profile> -->

    <div class="store-selection">
      <div>
        <h2>Store {{employeeDashboardCtrl.currentStoreNumber}}</h2>
        <p>{{employeeDashboardCtrl.currentStore.address}}</p>
      </div>

      <div>
        <span class="store-selector">change store location:</span>
        <select ng-model="employeeDashboardCtrl.currentStoreNumber" ng-change="employeeDashboardCtrl.changeStore(employeeDashboardCtrl.currentStoreNumber)">
          <option ng-repeat="store in employeeDashboardCtrl.allStores" value="{{store.storeNumber}}">{{store.storeNumber}}</option>
        </select>
      </div>
    </div>

    <!--ALL FUNCTIONALITY BELOW THIS COMMENT IS FOR ADMINS ONLY-->
    <div class="employee-admin-container">
        <!--NEED LOGIC TO MAKE NG-HIDE FUNCTIONALITY WORK-->
    <!--<div class="employee-admin-container" ng-hide="!employeeDashboardCtrl.admin">-->

        <add-employee store="employeeDashboardCtrl.currentStore"></add-employee>

        <input ng-model="employeeDashboardCtrl.query" type="text" placeholder="search employees">

        <div class="employee-record-container">
            <ul>
                <!--TODO: BUILD OUT EMPLOYEE RECORD COMPONENT-->
                <employee-record
                  ng-repeat="record in employeeDashboardCtrl.employees | nameSearch: employeeDashboardCtrl.query"
                  employee="record"
                  store="employeeDashboardCtrl.currentStore"
                  delete-done="employeeDashboardCtrl.employeeDeleteDone(employeeData)"
                  ng-click="employeeDashboardCtrl.currentEmployee = record">
                </employee-record>
            </ul>
        </div>
    </div>
</section>
